.card{
    box-sizing: border-box;
    position: relative;
    box-sizing: border-box;
    height: 25rem;
}

.cardInnerContainer{
    box-sizing: border-box;
    display: flex;
    background-color: rgb(128, 128, 128,.2);
   
}

#image{
    
    box-sizing: border-box;
    height: 25rem;

}
.headerContainer{
    flex: 1;
    padding-inline: 1rem;
    padding-bottom: 2rem;
    color: rgba(0, 0, 0, 0.85);
    
}
.image{
   
}
.info{

    text-align: center;
    padding: 10px;
    font-size: 1.05rem;
    color: rgba(0, 0, 0, 0.6);
}

.infoContainer{
    flex: 1;
}
.type{
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.6);
}